<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>The best calculator in the world</h3>
    <a href="{% url 'index' %}">Go Back</a>
    <hr>
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="number" name="number1" placeholder="Number1" id="">
        </p>
        <p>
            <input type="text" name="char" placeholder="+ - / *" id="">
        </p>
        <p>
            <input type="number" name="number2" placeholder="Number2" id="">
        </p>
        <button type="submit">=</button>
    </form>

    <div>
        <h4>Result = {{ res }}</h4>
    </div>
    
</body>
</html>