<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Factorial calculation program</h3>
    <a href="{% url 'index' %}">Go Back</a>
    <hr>
    
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="number" name="number" placeholder="Number" id="">
        </p>
        <button type="submit">Calculate</button>

    </form>

    <div>
        <h4>
            Resul = {{ res }}
        </h4>
    </div>
</body>
</html>